.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Task{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: decimal;
}

.Delete{
  margin-left: 10px;
}